body {
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

div.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 101.1%;
    margin-top: -17px;
    padding: 0px;
    padding-top: 5px;
    background-color: rgb(222, 208, 19);
}

main div.container {
    padding: 0px 1.5%;
}

header {
    margin-bottom: 0 !important;
}

footer {
    background-color: aliceblue;
}

.notifications-container {
    position: fixed;
    top: 48px;
    right: 20px;
    z-index: 9999;
}

.captcha {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    color: rgb(223, 223, 223);
}

a:hover {
    color: rgb(147, 147, 147);
}

a:active {
    color: rgb(81, 81, 81);
}

a.dark {
    color: rgb(40, 40, 40);
}

a.dark:hover {
    color: rgb(114, 114, 114);
}

a.dark:active {
    color: rgb(147, 147, 147);
}

.nav-link.dropdown-toggle {
    color: rgb(223, 223, 223);
}

.nav-link.dropdown-toggle:hover {
    color: rgb(147, 147, 147);
}

.nav-link.dropdown-toggle:active {
    color: rgb(81, 81, 81);
}

.nav-link {
    color: rgb(223, 223, 223);
}

.nav-link:hover {
    color: rgb(147, 147, 147);
}

.nav-link:active {
    color: rgb(81, 81, 81);
}

.dropdown-toggle::after {
    content: none;
}

p.card-title {
    color: black;
}

p.card-text {
    color: rgb(128, 128, 128);
}

.product_id {
    color: gray;
    font-size: 15px;
}

.badge.bg-warning.text-dark {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
    top: 80%;
    border-radius: 15px;
    font-size: 0.7rem;
}

.card.border-primary.rounded.custom-shadow {
    border: 0;
}

.page-link.bg-dark.text-white {
    border: 0;
}
