{% extends 'base.html' %} 
{% load static %}
{% load carts_tags %} 

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fix_footer.css' %}" />
{% endblock %}

{% block content %}

    {% user_carts request as carts %}

    <h3 class="text-center mb-4">Кошик</h3>
    <div class="container" id="cart-items-container">
        {% include 'carts/_included_cart.html' %}    
    </div>
    <a class="btn btn-dark" href="orders/create_order.html">
        Оформити замовлення
    </a>

{% endblock %}