{% extends 'base.html' %}
{% load static cache %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fix_footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block advertisement %}
    {% include '_advertisement.html' %}
{% endblock %}

{% block modal_cart %}
    {% include '_cart_button.html' %}
{% endblock %}

{% block content %}

<div class="row mt-1">

    <div class="col-lg-2">
    </div>

    <div class="col-lg-10">
        <div class="row">

            {% if goods %}
                {% for product in goods %}
                    {% if product.is_active %}
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
            
                                <a href="{% url 'catalog:product' product.slug %}">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
                                    {% else %}
                                        <img src="{% static 'images/Not found image.png' %}" class="card-img-top" alt="{{ product.name }}" />
                                    {% endif %}
                                </a>
            
                                <div class="card-body">
                                    <a href="{% url 'catalog:product' product.slug %}">
                                        <p class="card-title">
            
                                            {% autoescape off %}
                                                {% if product.headline %}
                                                    {{ product.headline }}
                                                {% else %}
                                                    {{ product.name }}
                                                {% endif %}
                                            {% endautoescape %}
            
                                        </p>
                                    </a>
                                    <p class="card-text">
            
                                        {% autoescape off %} 
                                            {% if product.bodyline %}
                                                {{ product.bodyline|truncatechars:150 }}
                                            {% else %}
                                                {{ product.description|truncatechars:42 }}
                                            {% endif %}
                                        {% endautoescape %}
            
                                    </p>
                                    <p class="product_id">id: {{ product.display_id }}</p>
                                    <div class="d-flex justify-content-between">
                                        {% if product.discount %}
                                        
                                            <p><s>{{ product.price|floatformat:'0' }}</s></p>
                                            <p><strong>{{ product.sell_price|floatformat:'0' }}</strong> Грн</p>

                                            <span class="badge bg-warning text-dark">Знижка {{ product.discount }}%</span>
                                        {% else %}
                                            <p><strong>{{ product.price|floatformat:'0' }}</strong> Грн</p>
                                        {% endif %}
            
                                        <a href="{% url 'cart:cart_add' %}" class="btn add-to-cart"
                                            data-product-id="{{ product.id }}">
                                            {% csrf_token %}
                                            <img class="mx-1" src="{% static "images/icons/cart-plus.svg" %}" alt="Catalog Icon" 
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h5>На сайті поки не ма товарів</h5>
                </div>
            {% endif %}
        </div>
    </div> 
</div>

{% endblock %}
