{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Вхід - {{ site_main_title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fix_footer.css' %}" />
{% endblock %}

{% block modal_cart %}
    {% include '_cart_button.html' %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Вхід</h2>

                <form method="POST">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">
                            <p>{{ form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                    
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">{{ form.username.label }}</label>
                        <input type="email" class="form-control"
                            value="{{ form.username.value|default:'' }}"
                            id="id_username" 
                            name="username" 
                            placeholder="Введіть ваш Email"
                            autofocus="true"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password" class="form-label">{{ form.password.label }}</label>
                        <input type="password" class="form-control"
                            value="{{ form.password.value|default:'' }}"
                            id="id_password"
                            name="password"
                            placeholder="Введіть ваш пароль" 
                            required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="id_captcha" class="form-label">{{ form.captcha.label }}*</label>
                        {{ form.captcha }}

                        {% if form.captcha.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.captcha.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <button type="submit" class="btn btn-dark btn-block">Увійти</button> 
                </form>
                <hr>
                <div class="mt-3">
                    <a href="{% url 'user:password_reset' %}" class="dark">Забули пароль?</a> | 
                    <a href="{% url 'user:register' %}" class="dark">Створити акаунт</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
